{{ "<!-- AGENDA -->" | safeHTML }}
{{ range . }}
<section id="agenda"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .headline }}</h2>
                <h4>{{ .date }}</h4>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <table>
                    {{ range .items }}
                    <tr>
                        <td class="time">{{ .time }}</td>             
                        <td class="event">{{ .event }}</td>
                    </tr>
                    {{ end }}
                </table>
            </div>
        </div>
    </div>      
</section>
{{ end }}
