{{ "<!-- AGENDA -->" | safeHTML }}
<section id="agenda"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Programmablauf</h2>        
                <hr class="primary">
            </div>
        </div>
        {{ range . }}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>{{ .headline }} – {{ .date }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <table class="agenda-table">
                    {{ range .items }}
                    <tr>
                        <td class="time">{{ .time }}</td>             
                        <td class="event">{{ .event }}</td>
                    </tr>
                    {{ end }}
                </table>
            </div>
        </div>        
        {{ end }}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="label-rot">                
                    <div class="label-rot-content">
                        <p>Änderungen vorbehalten</p>
                    </div>
                </div>
            <div>
        </div> 
    </div>      
</section>
