{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kontakt</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            {{ range sort .Site.Data.contact "weight" }}
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
                {{ partial "contact.html" . }}
            </div>     
            {{ end }}
        </div>        
    </div>
</section>