                <div class="contact">
                    <h4> {{ .title | markdownify }} </h4>
                    
                    <p> {{ .person }} </p>

                    {{ if .company }}
                    <p> {{ .company }} </p>
                    {{ end }}
                    
                    {{ if .street }}
                    <p> {{ .street }} </p>
                    {{ end }} 
                
                    {{ if .city }}
                    <p> {{ .city }}</p>
                    {{ end }}

                    {{ if .phone }}
                    <p> Tel.: {{ .phone }} </p>
                    {{ end }}

                    {{ if .fax }}
                    <p> Fax.: {{ .fax }} </p>
                    {{ end }}

                    {{ if .email }}
                    <a href="mailto:{{ .email }}"> E-Mail: {{ .email }} </a>
                    {{ end }}
                </div>