{{ "<!-- FOOTER -->" | safeHTML }}
<section class="bg-dark" id="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-1 col-sm-1">
                    <a target="_blank" href="{{ .facebook.link }}">
                        <i class="fa fa-facebook-official fa-3x footer-icon"></i>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4"><span class="footer-text">{{ .photo.title }}</span></div>
                <div class="col-xs-12 col-sm-4"><a class="footer-text" href="{{ .URL }}/datenschutz">Datenschutzerklärung</a></div>
                <div class="col-xs-12 col-sm-2"><a class="footer-text" href="{{ .URL }}/impressum">Impressum</a></div>
            </div>
        </div>
    </footer>
</section>