{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
            {{ with .Site.Params.hero.firstHeadline }}
                <p> {{ . }} </p>
            {{ end }}            
            {{ with .Site.Params.hero.secondHeadline }}
                <p> {{ . }} </p>
            {{ end }}
            </h1>
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
                <hr>
            {{ end }}
            {{ with .Site.Params.hero.date }}
                <h2>{{ . }}</h2>
            {{ end }}
            {{ with .Site.Params.hero.location | markdownify }}
                <h3>{{ . }}</h3>
            {{ end }}
        </div>
    </div>
</header>
<div class="header-button">
    <a href="#about" class="page-scroll btn-header-down">
        <i class="fa fa-angle-double-down fa-4x"></i>
    </a>
</div>        