{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            {{ with .Site.Params.hero.ordinal }}
                <h3>{{ . }}</h3>
            {{ end }}
            <h1>
            {{ with .Site.Params.hero.firstHeadline }}
                <p> {{ . }} </p>
            {{ end }}            
            {{ with .Site.Params.hero.secondHeadline }}
                <p> {{ . }} </p>
            {{ end }}
            </h1>
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
                <hr>
            {{ end }}
            {{ with .Site.Params.hero.date }}
                <h2>{{ . }}</h2>
            {{ end }}
            {{ with .Site.Params.hero.location }}
                <h3>{{ . }}</h3>
            {{ end }}
        </div>
    </div>
</header>
<div class="header-button">
    <a href="#about" class="btn-shadow zoom page-scroll" style="position: relative; bottom: 0; display: inline-block;" >
        <i class="fa fa-angle-double-down fa-4x"></i>
    </a>
</div>        