{{ "<!-- HIGHLIGHTS -->" | safeHTML }}
<section id="highlights">    
    <div class="container">          
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Site.Params.program.headline }}</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row text-center">
            {{ range where .Site.Pages "Section" "highlights"  }}
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ .URL }}" class="program-box" data-toggle="modal">                
                        <img src="{{ .URL }}{{ .Params.thumbnail }}" class="img-responsive" alt="{{ .Title }}">                                                         
                        {{ with .Title }}
                            <div class="program-name">
                                {{ . }}
                            </div>
                        {{ end }}                        
                    </a>
               </div>
            {{ end }}                   
        </div>
        <div class="row text-center">
            <h3>{{ .Site.Params.program.subheadline }}</h3>
        </div>
        <div class="row">
            {{ range where .Site.Pages "Section" "programm"  }}
            <div class="col-lg-4 col-sm-6">                
                {{ if .Content }}
                <a href="{{ .URL }}">
                {{ end }}
                    <div class="program-name">
                    {{ .Title }}
                    </div>   
                {{ if .Content }}
                </a>         
                {{ end }}
            </div>
            {{ end }}
        </div>
        <!--div class="row text-center">
            {{ with .Site.Params.program.bottomline }}
            <br>
            <p>{{ . }}</p>
            {{ end }}
        </div-->
    </div>
</section>
