{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "js/jquery.js" | absURL }}"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
{{ "<!-- Plugin JavaScript -->" | safeHTML }}
<script src="{{ "js/jquery.easing.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.fittext.js" | absURL }}"></script>
<script src="{{ "js/wow.min.js" | absURL }}"></script>

{{ if .Site.Params.location }}
    <script src="{{ "openlayers/ol.js" | absURL }}"></script>
    <script src="{{ "js/slippy-map.js" | absURL }}"></script>
{{ end }}

{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
<script src="{{ "js/specktakel.js" | absURL }}"></script>