<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ if or .Site.Params.navigation.links.about .Site.Params.navigation.links.services .Site.Params.navigation.links.portfolio .Site.Params.navigation.links.contact }}
            {{ partial "nav.html" . }}
        {{ end }}

        {{ if .Site.Params.hero }}
            {{ partial "hero.html" . }}
        {{ end }}

        {{ if .Site.Params.about }}
            {{ partial "about.html" . }}
        {{ end }}
        
        {{ $highlights := where .Site.Pages "Section" "highlights" }}
        {{ if $highlights }}
            {{ partial "highlights.html" . }}
        {{ end }}

        {{ if .Site.Params.location }}
            {{ partial "location.html" .Site.Params.location }}
        {{ end }}        

        {{ if .Site.Data.agenda }}
            {{ partial "agenda.html" .Site.Data.agenda }}
        {{ end }}

        {{ if .Site.Data.contact }}
            {{ partial "contacts.html" . }}
        {{ end }}
        
        {{ $orga := where .Site.Pages "Section" "orga" }}
        {{ if $orga }}
            {{ partial "organisation.html" $orga }}
        {{ end }}

        {{ if .Site.Params.footer }}
            {{ partial "footer.html" .Site.Params.footer }}
        {{ end }}

        {{ partial "js.html" . }}

        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>
